.nav {
  color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.209);
  display: flex;
  justify-content: space-between;
}



.button{
  color: white;
}

.button button{
  color: rgb(255, 255, 255);
  background-color: rgba(0, 4, 255, 0.423);
  transition: 0.3s;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  font-size: 15px;
  width: auto;
  height: auto;

}

.nav button:hover {
  transform: translateY(3px);
  box-shadow: 3px 3px 12px rgb(255, 255, 255);
  background-color: rgba(84, 168, 237, 0.606);
  cursor: pointer;
}


