.div1 {
  
  display: flex;
}

.div1 input {
  width: 500px;
  height: 30px;
  border: 2px solid #ccc;
  /* padding: 10px; */
  font-size: 16px;
  border-radius: 5px;
}

.div1 button {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.423);
  transition: 0.3s;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 15px;
  width: 15%;
  height: 15%;
}
