.landing {
  background-image: url("../../imagenes/remy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  position: absolute;
  
  color: azure;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  text-align: center;
  font-size: 80px;
  text-shadow: 0 0 5px rgb(0, 0, 0);
}

.landing button {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  border-radius: 5px;
  font-size: 50px;
  border: 1px transparent;
  background-color: rgb(130, 66, 2);
  color: rgb(0, 0, 0);
  border: 0.5px solid rgb(255, 166, 0);
  transition: 0.1s;
  padding: 5px;
  margin-top: 5px;
}

