.form {
  background-image:url("../../imagenes/pixar.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 96vh;
  width: 100vw;
  position: absolute;

  /* color: azure;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  text-align: center;
  font-size: 80px;
  text-shadow: 0 0 5px rgb(0, 0, 0); */
}


