.formcontainer {
  justify-content: center;
  /* text-align: center; */
  background-color: rgb(246, 243, 240);
  color: #7e7b7b;
  align-items: normal;
  width: 400px;
  height: 1000px;
  background: #24303c;
  padding: 30px;
  margin-top: 20px;
  margin-left: 100px;
  border-radius: 4px;
  font-family: "calibri";
  color: white;
  box-shadow: 7px 13px 37px #000;
  font-size: larger;
  margin: 16px;
}

.previewimage {
  width: 300px;
  height: 300px;
  background-size: cover;
  background-position: center;
  border: solid 5px white;
  border-radius: 5px;
  margin: 16px;
  
}

.formcontainer button {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px;
  font-size: 10px;
  text-align: center;
}
.formcontainer p{
  margin: 16px;
  color: red
}
.flex{
  display: flex;
}

.formcontainer input{
  margin-bottom: 8%;
  background-color: #656565;
  color: white ;
  

}


