.card {
  border: 4px solid rgb(174, 159, 141);
  margin: 20px;
  /* color: white; */
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(59, 50, 232, 0.763);
  transition: 0.3s;
  height: 50vh;
  width: 16.5vw;

  background-image: url("../../imagenes/madera.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  /* height: 100vh;
  width: 100vw; */
  /* position: absolute; */
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
}

.card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 16px;
}

.card h2 {
  font-size: 16px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.card::before,
.card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #8B4513;
}

.card::before {
  top: 0;
}

.card::after {
  bottom: 0;
}

.card::before,
.card::after,
.card {
  border-radius: 8px;
  position: relative;
}

.card::before {
  transform: skewX(-45deg);
  left: -5px;
}

.card::after {
  transform: skewX(45deg);
  right: -5px;
}
